* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto repeat(5, 1fr);
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
}

header {
  background-color: grey;
  grid-area: 1 / 1 / 1 / 3;
  padding: 12px;
  overflow: hidden;
}

header div {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  flex-wrap: wrap;
  width: 100%
}

nav {
  background-color: grey;
  grid-area: 5 / 1 / 6 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;
  gap: 4px;
}

#search-div {
  display: none;
}

#file-browser-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  grid-area: 2 / 1 / 5 / 3;
  background-color: grey;
}

#file-browser-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}

aside {
  background-color: grey;
  grid-area: 6 / 1 / 7 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px;
  gap: 4px;
}

 #task-list {
  grid-area: 1 / 3 / 4 / 7;
  padding: 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
 }

 button {
   width: fit-content;
   height: fit-content;
   padding: 8px;
   border: none;
   border-radius: 8px;
 }




 #delete-all-button, #delete-list-button {
   background-color: red;
   color: white;
   font-family: mono;
 }

#task-input, #task-note-input, #task-search-input{
  width: 100%;
}







 @media (min-width: 768px) {

  header {
    background-color: grey;
    grid-area: 1 / 1 / 1 / 4
  }

  nav {
    background-color: grey;
    grid-area: 1 / 4 / 1 / 5;
    align-items: flex-start;
    justify-content: center
  }

  #search-div {
    display: block;
    grid-area: 1 / 5 / 1 / 7;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 12px;
  }

  #file-browser-div {
    grid-area: 2 / 1 / 6 /1;
  }

  aside {
    grid-area: 6 / 1 / 7 / 1;
  }

  #task-list {
    grid-area: 2 / 2 / 7 / 7
  }

 }
